<% 
const d=new Date()
let year=d.getFullYear() 
%>
<footer>
    <p class="copyright txt-footer">&copy; <%= year %>, CSE 340 App</p>
    <a href="/ierror" class="txt-footer">CAUSE AN ERROR</a>
</footer>